# ===== Python =====
venv/
__pycache__/
*.pyc

# ===== Node =====
node_modules/
dist/
build/

# ===== Env =====
.env

# ===== Logs =====
*.log

# ===== Coverage =====
coverage/

# ===== OS =====
.DS_Store
Thumbs.db
