REDIS_HOST=
REDIS_PORT=
DATABASE_URL=
SECRET_KEY=cambiar_esto_por_una_clave_segura_generada_con_openssl
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=30
TESTCASES_DIR=/data/problems
ADMIN_USER=
ADMIN_EMAIL=
ADMIN_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
EMAIL_VERIFICATION_TTL_MINUTES=10
